html{
  min-height: 100vh;
  min-width: 100vw;
}
body {
  height: 100%;
  width: 100%;
    background-image: url("../public/fondo.jpg");
    background-size: contain;
   background-repeat:no-repeat ;
}



